.form-contain {
  --at-apply: "card-bg-color sm:(!bg-transparent h-62) relative flex flex-col justify-between px-4 pb-4 pt-1  sm:(p-2 pt-1)";
  box-shadow: rgba(0, 0, 0, 0.04) 0px -4px 16px;
  .tip {
    --at-apply: "op-0 transition-100";
  }
  &:hover {
    .tip {
      --at-apply: "op-100";
    }
  }
}

.input-wrapper {
  --at-apply: "flex-1 mt-2 sm:mt-0";
  display: flex;
  position: relative;

  // 拖拽悬停效果样式
  .drag-overlay {
    background: rgba(255, 255, 255, 0.95);
    animation: fadeInDrag 0.2s ease-in-out;

    .drag-content {
      border: 2px dashed var(--el-border-color);
      background: var(--el-bg-color);
      transition: all 0.3s ease;

      &:hover {
        border-color: var(--el-color-primary);
        border-style: solid;
        color: var(--el-color-primary);
        transform: scale(1.02);
      }

      i {
        color: var(--el-color-primary);
        font-size: 2rem;
      }
    }
  }

  .rich-editor {
    --at-apply: "text-0.9em flex-1 w-full h-full min-h-36px p-2 outline-none text-color ";
    caret-color: var(--el-color-primary);
    word-break: break-word;
    white-space: pre-wrap;

    &:empty:before {
      content: attr(data-placeholder);
      --at-apply: "text-mini line-height-none";
      pointer-events: none;
    }

    &:hover:before {
      --at-apply: "op-100";
    }
    // @用户标签样式
    :deep(.at-user-tag),
    // AI机器人标签样式
    :deep(.ai-robot-tag) {
      --at-apply: "";

      .at-user-inner {
        --at-apply: "inline text-0.9em pl-1 text-theme-primary dark:text-theme-info font-500";
      }
      .ai-robot-inner {
        vertical-align: middle;
        --at-apply: "inline-block w-fit h-fit py-0.2em leading-1.6em pl-1 pr-2 mr-1 cursor-pointer bg-color border-default-2-hover text-0.8em card-rounded-df";
      }
      .ai-robot-inner {
        --at-apply: "text-";
      }
      .ai-robot-inner::before {
        content: "";
        vertical-align: middle;
        background: var(--ai-robot-inner-icon) no-repeat center center / cover;
        --at-apply: "inline-block w-1.4em h-1.4em mr-1 rounded-3em shadow";
      }
    }

    // 图片容器样式
    :deep(.image-container) {
      vertical-align: bottom;
      --at-apply: "inline-block relative p-1";

      .inserted-image {
        --at-apply: "block hover:shadow-sm transition-200 rounded-1 border-default-2";
      }
      .image-delete-btn {
        --at-apply: "absolute -top-2 -right-2 w-5 h-5 text-xs bg-theme-danger text-white rounded-full cursor-pointer flex-row-c-c z-10 sm:op-0 transition-all duration-200";
        &:before {
          content: "";
          --at-apply: "i-carbon:close";
        }
      }
      &:hover .image-delete-btn {
        --at-apply: "opacity-100";
      }
    }
    // * {
    //   vertical-align: bottom;
    // }
    // 文件 - 视频 容器样式
    :deep(.video-container),
    :deep(.file-container) {
      vertical-align: bottom;
      --at-apply: "inline-block p-1";
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes fadeInDrag {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.at-options,
.ai-options {
  --at-apply: "absolute z-99 bg-color border-default rounded-3 -translate-y-full w-160px";
  box-shadow: var(--el-box-shadow-light);

  :deep(.at-item),
  :deep(.ai-item) {
    --at-apply: "flex items-center px-2 py-1 cursor-pointer hover:bg-color-2 card-rounded-df";

    .avatar {
      --at-apply: "h-6 w-6 rounded-full border-default";
    }

    .name {
      --at-apply: "ml-2 flex-1 truncate text-xs";
    }

    &.active {
      --at-apply: "bg-color-2";
    }
  }
}

// 语音
.is-chating {
  --at-apply: "shadow";
  --shadow-color: var(--el-color-primary);
  --shadow-color2: var(--el-color-primary-light-3);
  outline: none !important;
  background-size: 400% 400%;
  transition: all 0.2s;
  animation: aniamte-poppup-pluse 1s linear infinite;
  background-image: linear-gradient(
    to right,
    var(--shadow-color2) 0%,
    var(--shadow-color) 50%,
    var(--shadow-color2) 100%
  );
  background-color: var(--shadow-color);
  border-color: var(--shadow-color);
  &:deep(.el-button) {
    outline: none !important;
  }
  &:hover .chating-hidden {
    --at-apply: "hidden";
  }
  &:hover .chating-show {
    --at-apply: "inline-block";
  }
  .icon {
    --at-apply: "animate-pulse";
  }
  .text {
    --at-apply: "w-6rem !sm:w-8rem";
  }
  &:hover {
    --at-apply: "shadow-md";
    --shadow-color: var(--el-color-danger);
    --shadow-color2: var(--el-color-danger-light-3);
    box-shadow: 0 0 0.8rem var(--shadow-color);
    animation-play-state: paused;
    background-color: var(--shadow-color);
    border-color: var(--shadow-color);
  }
}

@keyframes aniamte-poppup-pluse {
  0% {
    box-shadow: 0 0 0.5rem var(--shadow-color);
    background-position: 0% 50%;
  }
  50% {
    box-shadow: 0 0 1.2rem var(--shadow-color);
    background-position: 100% 50%;
  }
  100% {
    box-shadow: 0 0 0.5rem var(--shadow-color);
    background-position: 0% 50%;
  }
}

.play-btn {
  background-color: #7e7e7e7a;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  --at-apply: "text-white  border-(2px solid #ffffff) bg-(gray-5 op-30) backdrop-blur-3px";
  .bg-blur {
    --at-apply: " bg-(gray-5 op-30) backdrop-blur";
  }
}

// 添加高度渐变动画
.slide-height-enter-active,
.slide-height-leave-active {
  height: 32vh;
  will-change: height, opacity;
  transition:
    height 0.2s ease,
    opacity 0.2s ease;
  opacity: 1;
  overflow: hidden;
}

.slide-height-enter-from,
.slide-height-leave-to {
  height: 0;
  opacity: 0;
}
.grid-container {
  transform-origin: top;
}

.ai-select {
  :deep(.el-select__wrapper) {
    --at-apply: "rounded-4 flex-row-c-c pr-3 pl-2 h-7 min-w-9rem w-fit !border-default !sm:border-(1px solid transparent) sm:!bg-transparent !shadow-none";
    &:hover,
    &.is-hoving,
    &.is-focused {
      --at-apply: "!border-default";
    }
    .el-select__placeholder {
      --at-apply: "!text-color tracking-0.1em op-80";
    }
    .el-tag {
      --at-apply: "text-light rounded-4 !h-fit min-h-5 w-5 p-0 bg-none border-none cursor-pointer";
      .el-tag__close {
        --at-apply: "hidden";
      }
    }
    .in-tooltip {
      --at-apply: "h-fit";
    }
    .el-select__tags-text {
      --at-apply: "flex-row-c-c";
    }
    .el-select__selected-item {
      animation: latter-slice-left 0.3s both;
      &.el-select__placeholder {
        animation: none;
      }
    }
  }
  .robot-select-icon {
    --at-apply: "text-color p-2.4 i-ri:robot-2-line";
  }

  &.selected-items {
    :deep(.el-select__wrapper) {
      --at-apply: "!border-default";
      .robot-select-icon {
        --at-apply: "bg-theme-primary";
      }
      .el-select__prefix {
        --at-apply: "relative";
        &::after {
          content: "";
          --at-apply: "absolute -z-1 inset-0 rounded-full bg-theme-primary animate-ping";
        }
      }
    }
  }
}
