// /* 覆盖你需要的变量 */
@forward "element-plus/theme-chalk/src/dark/var.scss" with (
  $colors: (
    "white": #ffffffe1,
    "black": #131313,
    "main": #5324ff,
    "primary": (
      "base": #5324ff,
      "tip": #dc284d,
      "tip2": #fcfb0a,
      "tip3": #00e9ce,
    ),
    "success": (
      "base": #56c220,
    ),
    "warning": (
      "base": #ffbf11,
    ),
    "danger": (
      "base": #fd4848,
    ),
    "error": (
      "base": #ff2424,
    ),
    "info": (
      "base": #11e08a,
    ),
  ),
  $bg-color: (
    "page": #1e2327,
    "overlay": #1d1e1f,
  ),
  $fill-color: (
    // "light": #fafcff0d,
  ),
  $border-color: (
    "primary": #1f2020,
  )
);
