<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${EmailParams.get('title')}"></title>
</head>
<!--主体-->
<body>
<div id=":170" class="ii gt"
     jslog="20277; u014N:xr6bB; 1:WyIjdGhyZWFkLWY6MTc2NDY3Mzk2NTg4NTk5NTI0NCIsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsW11d; 4:WyIjbXNnLWY6MTc2NDY3Mzk2NTg4NTk5NTI0NCIsbnVsbCxbXV0.">
    <div id=":16z" class="a3s aiL msg3020662069482612957"><u></u>
        <div>
            <table style="background-color:#ffffff;padding-top:20px;color:#434245;width:100%;border:0;text-align:center;border-collapse:collapse"
                   class="m_3020662069482612957background_main">
                <tbody>
                <tr>
                    <td style="vertical-align:top;padding:0">
                        <center>
                            <table id="m_3020662069482612957body"
                                   style="border:0;border-collapse:collapse;margin:0 auto;background:white;border-radius:8px;margin-bottom:16px">
                                <tbody>
                                <tr>
                                    <td style="width:546px;vertical-align:top;padding-top:32px">
                                        <div style="max-width:600px;margin:0 auto">
                                            <div style="margin-left:50px;margin-right:50px;margin-bottom:72px;margin-bottom:30px"
                                                 class="m_3020662069482612957lg_margin_left_right m_3020662069482612957xl_margin_bottom">
                                                <div style="margin:auto;display: flex;"
                                                     class="m_3020662069482612957slack_logo_style"><img width="300"
                                                                                                        style="margin:22px auto;"
                                                                                                        src="https://quang.kiwi2333.top/image/logo_text.png"
                                                                                                        alt="极物圈 徽标"
                                                                                                        class="CToWUd"
                                                                                                        data-bit="iit">
                                                </div>
                                                <h1 style="margin-bottom:0">完成您的
                                                    <th:block th:text="${EmailParams.get('type')}"></th:block>
                                                </h1>
                                            </div>
                                            <div style="margin-left:50px;margin-right:50px;margin-bottom:72px;margin-bottom:30px"
                                                 class="m_3020662069482612957lg_margin_left_right m_3020662069482612957xl_margin_bottom">
                                                <small style="font-size:16px;line-height:28px;letter-spacing:-0.2px;margin-bottom:28px;word-break:break-word"
                                                       class="m_3020662069482612957hero_paragraph">你的验证码如下所示。输入验证码即可登录。</small>
                                            </div>
                                            <div style="background:#f5f4f5;border-radius:4px;padding:43px 23px;margin-left:50px;margin-right:50px;margin-bottom:72px;margin-bottom:30px"
                                                 class="m_3020662069482612957lg_margin_left_right m_3020662069482612957xl_margin_bottom m_3020662069482612957grey_box_container">
                                                <div style="text-align:center;vertical-align:middle;font-size:30px"
                                                     th:text="${EmailParams.get('code')}">
                                                </div>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </center>
                    </td>
                </tr>
                <tr>
                    <td class="m_3020662069482612957email_footer"
                        style="font-size:15px;color:#717274;text-align:center;width:100%">
                        <center>
                            <table style="margin:20px auto 0;background-color:white;border:0;text-align:center;border-collapse:collapse">
                                <tbody>
                                <tr>
                                    <td style="width:546px;vertical-align:top;padding:0px">
                                        <div style="max-width:600px;margin:0 auto">
                                            <div style="padding:0 50px">
                                                <table>
                                                    <tbody>
                                                    <tr>
                                                        <td style="vertical-align:top;text-align:left"><img width="80"
                                                                                                            style="margin-top:0;margin-right:0;margin-bottom:32px;margin-left:0px"
                                                                                                            src="https://img1.imgtp.com/2023/04/29/R27WzQG8.png"
                                                                                                            alt="极物圈 徽标"
                                                                                                            class="CToWUd"
                                                                                                            data-bit="iit">
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <div style="font-size:12px;opacity:0.5;color:#696969;text-align:left;line-height:15px;margin-bottom:50px;text-align:left">
                                                    <a class="m_3020662069482612957footer_link"
                                                       href="fun.kiwi2333.com" style="color:#696969!important"
                                                       target="_blank">我们的博客</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                                                    <a
                                                            class="m_3020662069482612957footer_link"
                                                            href="#"
                                                            style="color:#696969!important"
                                                            target="_blank"
                                                            data-saferedirecturl="https://www.google.com/url?q=https://slack.com/legal&amp;source=gmail&amp;ust=1683010641716000&amp;usg=AOvVaw0x_Rg-lg5NL-n7rM0NA5f7">政策</a>
                                                    &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a
                                                        href="#"
                                                        style="color:#696969!important" target="_blank"
                                                        data-saferedirecturl="https://www.google.com/url?q=https://slack.com/help&amp;source=gmail&amp;ust=1683010641716000&amp;usg=AOvVaw0KI24MFpOTHHDdQ9LmiWYD">帮助中心</a>
                                                    &nbsp;&nbsp;&nbsp;|&nbsp;<wbr>&nbsp;&nbsp;<a
                                                        class="m_3020662069482612957footer_link"
                                                        href="#"
                                                        style="color:#696969!important" target="_blank"
                                                        data-saferedirecturl="https://www.google.com/url?q=https://slack.com/community&amp;source=gmail&amp;ust=1683010641716000&amp;usg=AOvVaw3xBidakIitZLg_e9miBqL8">Kiwi
                                                    社区</a><br><br>
                                                    <div>©2023 极物圈<br>
                                                    </div>
                                                    <br>保留所有权利。
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </center>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>

</html>

